{% extends 'base.html' %} {% block content %}

<h1>Task Bidding Page</h1>

<div class="row">

        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ task.title }}</span>
                <p>Description: {{ task.desc }}</p>
                <p>Budget: ${{ task.budget }}</p>
                <p>Create Date: {{ task.createDate }}</p>
                <p>End Date: {{ task.endDate }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
                <h3>Categories</h3>
                {% for category in task.categories.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                <span> {{ category.name }}</span> | {{ category.get_difficulty_display  }}
                        </span>
                    </div>
                </div>
                {% endfor %}
 
            <!-- Available toys will come after this line -->
        </div>
        <h3>Bids</h3>
        <div class="card">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in task.bid_set.all %}
                    <tr>
                        <td>{{bid.date}}</td>
                        <td>${{bid.amount}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Add Your Bid</h3>
        <div class="card">
            <form action="{% url 'add_bid' task.id %}" method="POST">
                {% csrf_token %} {{ bidding_form.as_p }}
                <div class="btn-center">
                    <input type="submit" class="btn" value="Add Bid">
                </div>
            </form>
        </div>
        <br><br>
</div>
<script>
    const input = document.getElementById('id_amount');
    input.setAttribute('max', {{max_bid}});
</script>
{% endblock %}