{% extends 'base.html' %} {% block content %}

<h1>Task Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ task.title }}</span>
                <p>Description: {{ task.desc }}</p>
                <p>Budget: ${{ task.budget }}</p>
                <p>Create Date: {{ task.createDate }}</p>
                <p>End Date: {{ task.endDate }}</p>
            </div>
        </div>
        <h2>Bids</h2>
        <div class="card">
            <form action="{% url 'bids_detail' task.id %}" method="POST">
                {% csrf_token %} {{ bidding_form.as_p }}
                <input type="submit" class="btn" value="Add Bid">
            </form>
        </div>
    </div>
</div>
{% endblock %}