{% extends 'base.html' %} {% block content %}

<h1>Task Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ task.title }}</span>
                <p>Description: {{ task.desc }}</p>
                <p>budget: {{ task.budget }}</p>
                <p>Create Date: {{ task.createDate }}</p>
                <p>End Date: {{ task.endDate }}</p>
                <div class="card-action">
                    <a href="{% url 'tasks_update' task.id %}">Edit</a>
                    <a href="{% url 'tasks_delete' task.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}