body {
    height: 100vh;
}

#home-page {
    display: grid;
    grid-template-rows: 20vh 50vh 7vh 7vh;
    justify-content: center;
    grid-gap: 20px;
    background-image: linear-gradient(to bottom right, #345B63, #D4ECDD);
    background-size: cover;
    background-repeat: no-repeat;
}
#laptop-img{
    width: 80vh;
    height: auto;
    animation: bounce 1s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#logo{
    display: flex;
    justify-self: center;
    width: 20vh;
    margin-top: 20px;
    height: auto;
}
#slogan{
    width: 10vh;
    height: auto;
}
@keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-50px); } }

.card-content{
    background-image: linear-gradient(to bottom right, #345B63, #D4ECDD);
    color: white;
    box-shadow: 4px 4px 4px  black;
}
#main-nav{
    display: grid;
    grid-template-columns: 14fr 1fr;
}
#nav-logo {
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 8vh;
    height: auto;
}
.card-action{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn{
    box-shadow: 2px 3px 3px  black;
    margin: 10px;
}
.card-title{
    text-align: center;

}
#add-category-button{
    display: grid;
    justify-content: center;
}
.task-submit{
    display: grid;
    justify-content: center;
}

nav {
    background-color:  #345B63;
}

.page-footer {
    background-color:  #345B63;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 2rem;
}

h1, h3 {
    display: flex;
    justify-content: center;
}

.btn-center {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    #home-page {
        display: grid;
        grid-template-rows: 20vh 30vh 7vh 7vh;
        justify-content: center;
        grid-gap: 20px;
        background-image: linear-gradient(to bottom right, #345B63, #D4ECDD);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #laptop-img{
        width: 43vh;
        height: auto;
        animation: bounce 1s ;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    #logo{
        width: 10vh;
        height: auto;
    }
    #slogan{
        width: 10vh;
        height: auto;
    }
    @keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-50px); } }
    
    .card-content{
        background-image: linear-gradient(to bottom right, #345B63, #D4ECDD);
        color: white;
        box-shadow: 4px 4px 4px  black;
    }
    #main-nav{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    #nav-logo {
        display: flex;
        align-self: center;
        margin-left: 10px;
        width: 8vh;
        height: auto;
    }
    .card-action{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn{
        box-shadow: 2px 3px 3px  black;
        margin: 10px;
    }
    .card-title{
        text-align: center;
        
    }
    #add-category-button{
        display: grid;
        justify-content: center;
    }
    .task-submit{
        display: grid;
        justify-content: center;
    }    
    h1, h3 {
        display: flex;
        justify-content: center;
    }
    .btn-center {
        display: flex;
        justify-content: center;
    }
}